/* ### GENERAL ### */
#dvhead_title{width:100%;border-bottom:#92B101 1px solid;padding-bottom:5px;margin-bottom:15px;}
.sphead_1{font-weight:bold;color:#7e9801;font-size:11px;}
.sphead_2{font-weight:bold;color:#acbe58;font-size:11px;}


a {color:#0352f4; text-decoration:none;}
a:hover {color:#3894fc; text-decoration:none;}


.content_data ul {margin-left:37px; margin-top:20px; margin-bottom:20px;}
.content_data li {margin-left:0px; margin-top:5px; margin-bottom:5px;}
.content_data ol {margin-left:37px; margin-top:20px; margin-bottom:20px;}

#Regis1 ul{margin-left:35px;}
#Regis1 li{margin-left:35px;}
#Regis1 ol{margin-left:45px;}


#Ab1 ul{margin-left:35px;}
#Ab1 li{margin-left:35px; line-height:18px;}
#Ab1 ol{margin-left:35px;}


#thaiRegis1 ul{margin-left:35px;}
#thaiRegis1 li{margin-left:35px;}
#thaiRegis2 ol{margin-left:25px;}


.dengue2_table{border-collapse:collapse; border-spacing:1px; width:684px; border:1px solid #B6E958;  background-color: #69CC39;}
.dengue2_table tr td {padding:5px; }


.dengue1_table{border-collapse:collapse; border-spacing:0px; width:684px; border:1px dashed #B6E958; }
.dengue1_table tr td {padding:8px;}


.dengue3_table{border-collapse:collapse; border-spacing:1px;  border:1px solid #D5D5FF;width:100%;}
.dengue3_table tr td {padding:5px;}


.dengue4_table{border-collapse:collapse; border-spacing:0px; width:684px;}
.dengue4_table tr td {padding:10px;}


.dengue5_table{border-collapse:collapse; border-spacing:0px; width:95%; margin-left:15px;}
.dengue5_table tr td {padding:5px; border:1px solid white; }


.dengue6_table{border-collapse:collapse; border-spacing:0px; width:95%; border:1px solid #F3E784; background-color:#FFFFCC; margin-left:15px; }
.dengue6_table tr td {padding:5px; border:1px solid #F3E784;}


.dengue7_table{border-collapse:separate; border-spacing:1px; width:95%; border:1px solid #DCDBDB; margin-left:15px;}
.dengue7_table tr td {padding:5px; border:1px solid #f8f8f7;}


.dengue5b_table{padding:10px;border:1px solid #E0E0DF;}
.title_re{font-size:22px; color:#045F9F; text-align:center;}
.hr4{border:none; padding-top:5px; border-bottom:1px solid #E0E0DF;}
.text_re{display:block; padding-left:20px; padding-top:2px; font-size:14px; font-weight:bold; color:#8ebd5d; height:18px; background: url(../images/laithai_green2.png) no-repeat;}


.dengue8_table{border-collapse:collapse; border-spacing:0px;border:1px solid #FDEFC1; font-family:Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;font-size:13px; font-weight:normal;}
.dengue8_table tr td {padding:5px;}


.dengue9_table{border-collapse:collapse; border-spacing:0px; border:1px solid #AEE494; font-family:Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;font-size:13px; font-weight:normal;}

.dengue9_table tr td {padding:5px;}


.dengue11_table{border-collapse:collapse; border-spacing:0px; }
.dengue11_table tr td {padding:10px;}


.dengue10_table{border-collapse:collapse; border-spacing:0px;border:1px solid #96cbfd; font-family:Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;font-size:13px;font-weight:normal;}
.dengue10_table tr td {padding:5px;}


.dengue12_table{border-collapse:collapse; border-spacing:0px; background-color:#fffee6;border:1px solid #f8f5be;}
.dengue12_table tr td {padding:15px;}
.text_about{font-size:14px; font-weight:bold; color:#56af41;}
.text_visa{font-size:14px; font-weight:bold; color:#706dd6;}


.dengue13_table{padding:10px;border:1px solid #E0E0DF;}
.text_ab{display:block; padding-left:20px; padding-top:2px; font-size:15px; font-weight:bold; color:#aa8ad9; height:18px; background: url(../images/laithai_pur3.png) no-repeat;}

.dengue14_table{padding:10px;border:1px solid #E0E0DF;}
.dengue14b_table{border-collapse:separate; border-spacing:1px; width:100%;}
.dengue14b_table tr td {padding:5px;}
.dengue14c_table{ }
.dengue14c_table tr td {padding:15px;}
.text_re_thai{display:block; padding-left:40px; padding-top:2px; font-size:15px; font-weight:bold; color:#F0A404; height:18px; background: url(../images/laithai_orange4_18px.png) no-repeat;}

.td_hotel{border-top:1px solid #b1a3b9; border-bottom:1px solid #b1a3b9; background-color:#f7f7f7;}


.dengue15_table{border-collapse:separate; border-spacing:1px; width:95%; border:1px solid #f1ec9e; margin-left:15px;background-color:#fefdeb;}
.dengue15_table tr td {padding:5px; border:1px solid #f8f8f7;}


/* ScientificProgram tab */
.ScientificProgram_table{border-collapse:collapse; border-spacing:0px; width:684px; border:1px solid #F2F0F1; background-color:#f8f8f8;}
.ScientificProgram_table tr td {padding:10px;}
.text_tentativeProgram{font-weight:bold; color:#5f5f5f; text-align:center;}
.date1_scientificProgram{font-weight:bold; font-size:12px; color:#ef8607;}
.date2_scientificProgram{font-weight:bold; font-size:12px; color:#4cb220;}
.date3_scientificProgram{font-weight:bold; font-size:12px; color:#3997b9;}

.table_21102013{border-collapse:collapse; border-spacing:0px; border:1px solid #FFD5AA; background-color:white;}
.table_21102013 tr td {padding:5px; border:1px solid #FFD5AA; }
.date_21102013{font-weight:bold; font-size:12px; color:#da4a03; text-align:center;}
.date_21102013_2{color:#ee8506;font-size:11px;}

.table_22102013{border-collapse:collapse; border-spacing:0px; border:1px solid #afe494; background-color:white;}
.table_22102013 tr td {padding:5px; border:1px solid #afe494; }
.date_22102013{font-weight:bold; font-size:12px; color:#01803d; text-align:center;}
.date_22102013_2{color:#70bd53; font-size:11px;}

.table_23102013{border-collapse:collapse; border-spacing:0px; border:1px solid #BBE0EC; background-color:white;}
.table_23102013 tr td {padding:5px; border:1px solid #BBE0EC; }
.date_23102013{font-weight:bold; font-size:12px; color:#1b7baf; text-align:center;}
.date_23102013_2{color:#3798b9; font-size:11px;}