/* ### GENERAL ### */
* { margin: 0px; padding: 0px; }
BODY {margin:0;padding:0; background:#FFF url('../images/bg_gradient2.jpg') repeat-x top; color:#333; font-family:Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;
padding:0px 0px 0px 0px; margin:0px; font-size:13px; font-weight:normal;}

/* ### FORM ### */
	.mypage_table{border-collapse:separate; border-spacing:0px; width:684px; border:1px solid #e7edcb;background-color: #f9fee8;margin-left:auto; margin-right:auto;}
	.mypage_table tr td {padding:0px;}
	.titleMyPage{color:#06609f;font-size:24px; font-weight:normal;}
	.tb_mypage{border-collapse:collapse; border-spacing:0px;margin-left:5px;margin-right:5px;}
	.tb_mypage tr td {padding:2px;}
	.hr4{border:none; border-bottom: 1px dashed #e5e5e5; height: 1px; margin-left:5px;}
	.welcome_MyPage{color:red;font-size:16px; font-weight:bold;}
	.name_MyPage{font-size:16px; font-weight:bold;}
	.hr3{border:none;height:1px; border-bottom: 1px solid #e5e5e5; background-color:#e7edcb; margin:3px 0px 0px 0px;}
	.tr_myPage{background: url(../images/pattern_account.jpg) repeat; height:25px;}
	.text_h1{padding-left:15px; color:#546b01; font-weight:bold;}
	.td_mypage1{text-align:right;font-weight:bold;}
	.No_data{color:red;font-weight:normal;}
	.btn-edit{display:block;border:0px;height:34px; width:73px; background: url(../images/edit.jpg) no-repeat;}
	.btn-edit:hover{display:block;border:0px;height:34px; width:73px; background: url(../images/edit_hot.jpg) no-repeat;}
	.btn-back{display:block;border:0px;height:34px; width:73px; background: url(../images/btn_back_reg.png) no-repeat;}
	.btn-back:hover{display:block;border:0px;height:34px; width:73px;background: url(../images/btn_back_hot.png) no-repeat;}
	.btn-update{display:block; float:right;border:0px; height:34px; width:73px; background: url(../images/update_gray.png) no-repeat;}
	.btn-update:hover{display:block;border:0px; height:34px; width:73px; background: url(../images/update.png) no-repeat;}
	.btn-submit{display:block; float:right; height:25px; width:66px;border:0px; background: url(../images/submit_gray.png) no-repeat;}
	.btn-submit:hover{display:block;border:0px; height:25px; width:66px;  background: url(../images/submit.png) no-repeat;}
	.btn-cancel{display:block; float:right;border:0px; height:25px; width:66px; background: url(../images/cancel_gray.png) no-repeat;}
	.btn-cancel:hover{display:block;border:0px; height:25px; width:66px;  background: url(../images/cancel.png) no-repeat;}
	.btn-reset{display:block; float:right;border:0px; height:25px; width:66px;  background: url(../images/reset_gray.png) no-repeat;}
	.btn-reset:hover{display:block;border:0px; height:25px; width:66px;  background: url(../images/reset.png) no-repeat;}

/* ### ONLINE REGISTRATION ### */
	.online_table{border-collapse:separate; border-spacing:5px; width:699px; border:1px solid #e7edcb;background-color: #f9fee8;margin-left:auto; margin-right:auto;}
	.online_table tr td {padding:15px;}
	.online_table2{border-collapse:collapse; border-spacing:0px;}
	.online_table2 tr td {padding:4px;}
	.title_onlineRegistration{font-size:24px; font-weight:normal; color:#0473c0;}
	.text_step1{font-size:17px; font-weight:bold;}
	.text_step1_a{font-size:17px; font-weight:bold;float:left; margin-top:4px; margin-right:10px;}
	.text_step_run{color:red;font-size:18px; font-weight:bold; float:right;}
	.steb1{font-size:11px; color:red; font-weight:bold;}
	.hr5{border:none; border-bottom:1px solid #e7edcb; height:1px; padding:0px; margin:0px;}
	.input_boxOnlineRegistration {margin-bottom:10px; padding-left:5px; width:244px; height:26px; font-size:12px; color:#878786; background: url(../images/input_boxOnlineRegistration.jpg) no-repeat; border:none;}
	.td_onlineRegistration1{text-align:right;font-weight:normal; vertical-align:middle;}
	.input_boxOnlineRegistration2 {padding-left:7px; width:244px; height:26px; border: 1px solid #d5e3ae; background-color:white; color:#9ea289;
									-webkit-box-shadow: inset 2px 2px 2px #edefea; 
									-moz-box-shadow: inset 2px 2px 2px #edefea; 
									box-shadow: inset 2px 2px 2px #edefea;}
	.input_boxOnlineRegistration2:active { color:black;}
	.input_boxOnlineRegistration2:focus { color:black;}
	.input_boxOnlineRegistration3 {padding-left:7px; width:300px; height:26px; border: 1px solid #d5e3ae; background-color:white; color:#9ea289;
									-webkit-box-shadow: inset 2px 2px 2px #edefea; 
									-moz-box-shadow: inset 2px 2px 2px #edefea; 
									box-shadow: inset 2px 2px 2px #edefea;}
	.input_boxOnlineRegistration3:active { color:black;}
	.input_boxOnlineRegistration3:focus { color:black;}
	.input_boxOnlineRegistration4 {padding-left:7px; padding-top:3px; width:460px; height:150px; border: 1px solid #d5e3ae; background-color:white; color:#9ea289;
									-webkit-box-shadow: inset 2px 2px 2px #edefea; 
									-moz-box-shadow: inset 2px 2px 2px #edefea; 
									box-shadow: inset 2px 2px 2px #edefea; text-align:top; font-family:Tahoma;}
	.input_boxOnlineRegistration4:active { color:black;}
	.input_boxOnlineRegistration4:focus { color:black;}
	.text_online_regis {font-size:11px; color:#6bb111;}


	.styled-select select {width:253px; height:28px;
	  -webkit-appearance: button;
	  -webkit-box-shadow: inset 2px 2px 2px #edefea; 
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(../images/bg_select2.jpg), 
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	  background-position: center right;  background-repeat: no-repeat;  border: 1px solid #d5e3ae;  color: #999c8b;  font-size: inherit;  margin: 0;  overflow: hidden;
	  padding-top: 2px;  padding-bottom: 2px;  text-overflow: ellipsis;  white-space: nowrap;}


	.textStep2{font-size:13px; font-weight:bold; color:#03b75b;}
	.textSteb2_{font-size:12px; color:#7b7f82;}
	.textblue{font-size:12px; font-weight:bold; color:#009abc;}
	.table_blue {background-color:#f4faff;border-collapse:collapse; border-spacing:0px; width:100%; border: 1px solid #B7DDF2;}
	.table_blue tr td {padding:4px; border: 1px solid #B7DDF2;}
	.td_blue { border: 1px solid #bee7e6;}
	.td_blue2 { border-bottom: 1px solid #bee7e6;}
	.td_blue3 { border-top: 1px solid #bee7e6;}
	.btn-continue{display:block; float:right; height:25px; width:93px; background: url(../images/continue_gray.png) no-repeat;}
	.btn-continue:hover{display:block; background: url(../images/continue.png) no-repeat;}

	.textStep2b{font-size:13px; font-weight:bold; color:#fc7203;}
	.tableOrange{border-collapse:collapse; border-spacing:0px; width:100%; border:1px solid #fbe27e; color:#ba7100; font-weight:bold;}
	.tableOrange tr td {padding:10px; background-color:#fefed8;}
	.td_orange{border-top: 1px solid #fbe27e;}

/*  STEP3  */
	.online_step3{border-collapse:collapse; border-spacing:0px;}
	.online_step3 tr td {padding:0px;}
	.table_paymentOption {border-collapse:collapse; border-spacing:0px; width:100%; color:#717370; font-weight:bold;}
	.table_paymentOption tr td {padding:7px; background-color:#ebfdc9;}
	.td_paymentOption{border-right:3px solid #c8e197;}
	.textPaymentOptions{font-size:15px; color:#779a30; font-weight:bold; text-decoration:underline;}
	.text_credit{font-size:15px; font-weight:bold; color:#0277c9;}
	.text_credit2{font-size:14px; font-weight:bold; color:#d13030;}
	.hr6{border:none; border-top:1px dotted black; padding:0px; margin:0px;}
	.table_orangeStep3 {background-color:#ffffd5; border-collapse:collapse; border-spacing:0px; width:100%;}
	.table_orangeStep3 tr td {padding:10px;}
	.td_orangeStep3 { border: 1px solid #ecd7ae;}
	.td_orangeStep3_2 { border-bottom: 1px solid #ecd7ae;}
	.textorangeStep3{font-size:12px; font-weight:bold; color:#f18804;}

	#FileUpload {position:relative;}
	#BrowserVisible {position: absolute;top: 0px; left: 0px; z-index: 1; background:url(../images/browse.png) 100% 0px no-repeat; height:24px;width:378px;}
	#Attached {position: absolute;top: 0px; left: 0px; z-index: 1; background:url(../images/attached.png) 100% 0px no-repeat; height:24px;width:458px;}
	#FileField {width:303px; height:22px; margin-right:85px; font-size:16px; border:solid 1px #bfbfbf;}
	#BrowserHidden {position:relative; width:388px; height:22px; text-align: right; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 2;}

	.btn-onlineBanking{display:block; float:right; height:25px; width:112px; background: url(../images/onlineBanking.png) no-repeat;}
	.btn-onlineBanking:hover{ opacity:0.8; filter:alpha(opacity=80);}

	.btn-confirm{display:block; float:right; height:25px; width:66px; background: url(../images/confirm_gray.png) no-repeat;}
	.btn-confirm:hover{display:block; background: url(../images/confirm.png) no-repeat;}
	.table_orangeStep3_c {background-color:white; border-collapse:collapse; border-spacing:0px; width:100%; border-top: 1px solid #ecd7ae; border-bottom: 1px solid #ecd7ae;}
	.table_orangeStep3_c tr td {padding:6px;}
	.btn-confirm2{display:block; float:right; height:36px; width:93px; background: url(../images/confirm2.png) no-repeat;}
	.btn-confirm2:hover{opacity:0.8; filter:alpha(opacity=80);}


/* ### ONLINE ABSTRACT SUBMISSION ### */

	.online_tableAb{border-collapse:collapse; border-spacing:0px; color:#323232;}
	.online_tableAb tr td {padding:4px;}

	.table_abInfo{border-collapse:separate; border-spacing:1px;color:#323232; width:100%; border: 1px solid #cee8cd; background-color:white;}
	.table_abInfo tr td {padding:8px;}

	.styled-select_ab select {width:229px; height:28px;
	  -webkit-appearance: button;
	  -webkit-box-shadow: inset 2px 2px 2px #edefea; 
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(../images/bg_select_ab.jpg), 
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	  background-position: center right;  background-repeat: no-repeat;  border: 1px solid #d5e3ae;  color: #999c8b;  font-size: inherit;  margin: 0;  overflow: hidden;
	  padding-top: 2px;  padding-bottom: 2px;  text-overflow: ellipsis;  white-space: nowrap;}

	  .text_ab_red{color:red;}
	.btn-preview{display:block; float:right; height:25px; width:66px;border:0px; background: url(../images/preview_gray.png) no-repeat;}
	.btn-preview:hover{display:block;height:25px; width:66px;border:0px; background: url(../images/preview.png) no-repeat;}
	
	.btn-edit-form{display:block; float:right; height:25px; width:66px;border:0px; background: url(../images/btn_edit_reg.png) no-repeat;}
	.btn-edit-form:hover{display:block;height:25px; width:66px;border:0px; background: url(../images/btn_edit_hot.png) no-repeat;}
	
	.btn-add {display:block; float:left;border:0px; height:20px; width:45px; background: url(../images/btn_add.png) no-repeat;}
	.btn-add:hover {display:block;border:0px;height:20px; width:45px; background: url(../images/btn_add_hot.png) no-repeat;}
	.btn-ADDmoreAbstract2 {display:block; float:right;border:0px; height:25px; width:140px; background: url(../images/ADDmoreAbstract_gray.png) no-repeat;}
	.btn-ADDmoreAbstract2:hover {display:block;border:0px; background: url(../images/ADDmoreAbstract.png) no-repeat;}
	.btn-ADDmoreAbstract {display:block; float:left;border:0px; height:25px; width:140px; background: url(../images/ADDmoreAbstract_gray.png) no-repeat;}
	.btn-ADDmoreAbstract:hover {display:block;border:0px;height:25px; width:140px;  background: url(../images/ADDmoreAbstract.png) no-repeat;}
	.btn-SubmitAbstract_1 {display:inline; border:0px; height:27px; width:140px; background: url(../images/btn_SubmitAbstract_1_reg.png) no-repeat;}
	.btn-SubmitAbstract_1:hover {display:inline;border:0px;height:27px; width:140px; background: url(../images/btn_SubmitAbstract_1_hot.png) no-repeat;}
	.btn-SubmitAbstract_2 {display:inline; border:0px; height:27px; width:140px; background: url(../images/btn_SubmitAbstract_2_reg.png) no-repeat;}
	.btn-SubmitAbstract_2:hover {display:inline;border:0px;height:27px; width:140px; background: url(../images/btn_SubmitAbstract_2_hot.png) no-repeat;}
	.btn_Add_moreCo-authors {display:block; border:0px; height:27px; width:170px; background: url(../images/btn_Add_moreCo-authors_reg.png) no-repeat;}
	.btn_Add_moreCo-authors:hover {display:block; border:0px; height:27px; width:170px; background: url(../images/btn_Add_moreCo-authors_hot.png) no-repeat;}
	.p_ab2{padding:10px 0px 10px 0px;} /* top right bottom left */

	.abstract_body {padding-left:7px;padding-top:5px; border: 1px solid #d5e3ae; background-color:white; color:#9ea289;
									-webkit-box-shadow: inset 2px 2px 2px #edefea; 
									-moz-box-shadow: inset 2px 2px 2px #edefea; 
									box-shadow: inset 2px 2px 2px #edefea;}

/* ### LOGIN PAGE ### */

	.btn-login_ {display:block; float:left;border:0px; height:25px; width:66px; background: url(../images/btn-login_gray.png) no-repeat;}
	.btn-login_:hover {display:block;border:0px; height:25px; width:66px; background: url(../images/btn-login.png) no-repeat;}
	.btn-signUp_ {display:block; float:left;border:0px; height:25px; width:66px; background: url(../images/btn-signUp_gray.png) no-repeat;}
	.btn-signUp_:hover {display:block;border:0px;height:25px; width:66px; background: url(../images/btn-signUp.png) no-repeat;}
	.btn-cancel_ {display:block; float:left;border:0px; height:25px; width:66px; background: url(../images/btn-cancel_gray.png) no-repeat;}
	.btn-cancel_:hover {display:block;border:0px; height:25px; width:66px;  background: url(../images/btn-cancel_.png) no-repeat;}


/* ### BACKEND LOGIN PAGE ### */
	#loginSystem{position: relative; display: block;  width:960px; margin: 0px auto; background: url(../images/bg_loginSystem.jpg) no-repeat; border: 1px solid #e6f6bf;}
	#name_GlobalGengue{margin: 30px 30px; height:45px; width:559px; background: url(../images/nameMeeting2.png) no-repeat;}
	.table_loginSystem{width:487px; height:317px; background: url(../images/bg_loginSystem_bananaleaf.png) no-repeat; margin: 0px auto;}
	.table_loginSystem2{margin-top:80px;}
	.input_boxLogin_system {margin-bottom:0px; padding-left:5px; width:332px; height:32px; font-size:14px; color:#878786; background: url(../images/box_input_login_d.png) no-repeat; border:none;}
	.text_adminSystem{position:absolute; width:255px; height:63px; float:left; margin-left:225px; margin-top:12px; background: url(../images/title_loginSystem2.png) no-repeat;}
	.logo_loginSystem{position:absolute; width:128px; height:127px; margin-left:580px; margin-top:63px; background: url(../images/logo_loginSystem.png) no-repeat;}
	.btn_login_loginSystem{cursor:pointer; width:99px; height:27px; background: url(../images/btn-Login-loginSystem.png) no-repeat; border:none;}
	.btn_login_loginSystem:hover{background: url(../images/btn-Login-loginSystem_hot.png) no-repeat; border:none;}
	.btn_signUp_loginSystem{cursor:pointer; width:99px; height:27px; background: url(../images/btn-signUp-loginSystem.png) no-repeat; border:none;}
	.btn_signUp_loginSystem:hover{ background: url(../images/btn-signUp-loginSystem_hot.png) no-repeat; border:none;}
	.forgetPass_loginSystem{color:#fcfc40; text-decoration:underline;font-size:12px; font-weight:bold; padding-top:10px;}
	.forgetPass_loginSystem:hover{color:#fdfda3; text-decoration:underline;}
	.shadow_loginSystem{position:absolute; top:430px; width:774px; height:258px; background: url(../images/shadow_loginSystem.png) no-repeat;}
	.lock-icon{position:absolute; top:445px; left:800px; width:114px; height:125px; background: url(../images/lock-icon.png) no-repeat;}

.close{color:#cccccc;}
.table_style_login{border-collapse:separate; border:0px; background-color: #f9fee8;margin-left:auto; margin-right:auto; width:230px; height:119px; background: url(../images/bg_logedin.png) no-repeat;}
.table_style_login tr td {vertical-align: top;}
.text_red{color:#990000;}

#link_logedin ul{margin-left: 0;padding-left: 0;list-style: none; }
#link_logedin ul li {color:#017cb6; padding: 0 0 0 10px; text-indent:10px; background: url(../images/circle_.png) no-repeat 0px 5px;}
#link_logedin ul li a {color:#017cb6;}
#link_logedin ul li a:hover {color:#0297dd; text-decoration:underline;}
#link_logedin ul li a:active {color:#017cb6; text-decoration:underline;}

/* ### paticipant list ### */

#box-table-paticipant th{font-size:13px; font-weight:bold; padding:3px;background: #b9c9fe; border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039;}
#box-table-paticipant td{padding:3px; background:#e8edff; border-bottom: 1px solid white; border-right: 1px solid white; color: #669; border-top: 1px solid transparent;}
#box-table-paticipant tr:hover td{background: #d0dafd; color: #339;}
.fieldset_search_participant{border: 2px solid #B9C9FE; padding:5px;color:#339;}
.legend_search_participant{font-weight: bold;font-size:15px; color:white; background-color:#B9C9FE; margin-left:13px; padding:3px;}
.input_mySearch{font-size:12px;padding:4px 2px;border:solid 1px #aacfe4;width:130px;margin:0px;}
.mySearch-country select {width:130px; height:25px;	border: 1px solid #aacfe4;  color:#339; overflow: hidden; padding-top:2px; padding-bottom:2px;}
.btn_search{cursor:pointer; width:32px; height:32px; background: url(../images/icon-search_reg.png) no-repeat; border:none;}
.btn_search:hover{cursor:pointer; width:32px; height:32px; background: url(../images/icon-search_hot.png) no-repeat; border:none;}

/* ### Abstract list ### */
#box-table-abstract_list th{font-size:13px; font-weight:bold; padding:3px;background: #fed750; border-top: 2px solid #f3c936; border-bottom: 1px solid #fff; color: #585858;}
#box-table-abstract_list td{padding:3px; background:#f6f6f6; border-bottom: 1px solid white; border-right: 1px solid white; color:#585858; border-top: 1px solid transparent;}
#box-table-abstract_list tr:hover td{background: #fcfcd3; color:#585858;}
.fieldset_search_abstract_list{border: 2px solid #fed750; padding:5px;color:#585858;}
.legend_search_abstract_list{font-weight: bold;font-size:15px; color:white; background-color:#fed750; margin-left:13px; padding:3px;}
.input_mySearch_abstract_list{font-size:12px;padding:4px 2px;border:solid 1px #fed750;width:200px;margin:0px;}
.mySearch-country_abstract_list select {width:207px; height:25px;	border: 1px solid #fed750;  color:#585858; overflow: hidden; padding-top:2px; padding-bottom:2px;}
.btn_search_abstract_list{cursor:pointer; width:32px; height:32px; background: url(../images/icon-search2_reg.png) no-repeat; border:none;}
.btn_search_abstract_list:hover{cursor:pointer; width:32px; height:32px; background: url(../images/icon-search2_hot.png) no-repeat; border:none;}

