@charset "utf-8";
/* CSS Document */
.anyClass { position:relative;}
.anyClass .prev { position:absolute; top:68px; left:0; z-index:100;
width:18px;
height:28px;
border: none;
background: transparent url(../images/button_left.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */}

.anyClass .next { position:absolute; top:68px; right:0; z-index:100;
width:18px;
height:28px;
border: none;
background: transparent url(../images/button_right.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */}



